.g-llamado-accion{
 position: relative;
 overflow: hidden;
 margin: 0 auto;
padding: 4rem 0;
line-height: 2rem;
@include display(flex);	
@include flex-direction(column);
@include justify-content(center);
text-align: center;

 	.g-llamado-contenido{
		text-align: center;	
		 z-index: 1;
		 margin-bottom: 1rem;
		.g-llamado-titulo{
			margin: 0 0 1rem 0;							
		}			
		.g-llamado-desc{
			margin-top: 0;
			font-size: 1.5rem;					
		}			
	
	}
	.g-llamado-boton{			
	z-index: 1;
		.btn{
		text-decoration: none;
		}
		.button,
		.btn {
		@include breakpoint(mobile-only) {
		width: 90%;
		}
			i.ico_ant{
			margin-right:.3rem;
			}
			i.ico_desp {
			    margin-left:.3rem;
			}			
		}
	}

	/*Estilo 2*/
	&.style2{
 	@include flex-direction(row);
 	@include justify-content(space-between);	
 	@include align-items(center);
		@include breakpoint(mobile-only) {
		@include flex-direction(column);	
		@include align-items(inherit);
	    text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		}
     	.g-llamado-contenido{			    
		    @include flex(1);
			text-align: left;
			margin-right: 1rem;
			margin-bottom: 0;
			@include breakpoint(mobile-only) {
		    text-align: center;
		    margin-right: 0rem;
		    margin-bottom: 1rem;
			}	
		}	
	}

	/*Estilo 3*/
	&.style3{
 	@include flex-direction(column);
    padding: 0 1rem;
    text-align: left;		
     	.g-llamado-contenido{
			@include flex(1);
    		text-align: left;		
		}			
	}
	@include breakpoint(mobile-only) {
		padding-top: 2rem;
		padding-bottom: 2rem;
		}
}